<a href="https://colab.research.google.com/github/LeNgocThienBao/DataAnalystDeepLearning/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [5]:
import pandas as pd
s = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s)
s.values
s.index

a    12
b    -4
c     7
d     9
dtype: int64

Index(['a', 'b', 'c', 'd'], dtype='object')

In [2]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [6]:
frame2 = pd.DataFrame (data, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7